@charset "UTF-8";

body {
  /*background-color: #c6f0ff;*/
  background-image: url(../images/top/back-image.png);
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
  font-family: "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO";
  font-size: 1rem;
  padding: 6px 0 0;
}

image {
  width: 50%;
  height: 50%;
  margin: 50%;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 1rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: #252724;
}

.logo-title {
  color: #fff;
  font-size: 1.2rem;
  text-align: end;
}

/*header*/
header {
  background-color: #3A3D2B;
  display: flex;
  justify-content: space-around;
  padding: 0px 0px 0px 25px;
  text-align: end;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}


ul {
  list-style-type: none;
}

/*トップ画のCSS*/
h1 {
  color: #fff;
  font-size: 1.7rem;
}

.nav-list a {
  color: #FFF9EE;
  font-size: 1.2rem;
}

.nav-item {
  margin-top: 5px;
  margin-bottom: 5px;
}

body header img {
  width: 45px;
  height: 45px;
  margin-top: 3px;
  margin-bottom: 13px;
  /*スマホ用*/
  /*  width: 32px;
  height: 32px;*/
}

.activities-title {
  background: rgba(255, 247, 234, 0.44);
  padding: 23px;
  margin: 30px 0px 30px 0px;
}

.illustration-title {
  background: rgba(234, 255, 234, 0.44);
  padding: 23px;
  margin: 30px 0px 30px 0px;
}

.store-title {
  background: rgba(255, 247, 234, 0.44);
  padding: 23px;
  margin: 30px 0px 30px 0px;
}

.top img {
  width: 480px;
  margin: auto;
  margin-top: 180px;
  display: block;
}

h2 {
  color: #3A3D2B;
  font-size: 1.4rem;
  text-align: center;
}

/*ギャラリーのタイトル*/
h3 {
  color: #3A3D2B;
  font-size: 1.1rem;
  text-align: center;
}

.character-intro {
  color: #3A3D2B;
  font-size: 1.2rem;
}

.gallery_report {
  background: rgba(234, 255, 234, 0.44);
  padding: 20px;
}

.gallery_book {
  background: rgba(234, 255, 234, 0.44);
  padding: 20px;
}

.gallery_star {
  background: rgba(255, 247, 234, 0.44);
  padding: 20px;
}

.gallery_characteronly {
  background: rgba(255, 247, 234, 0.44);
  padding: 20px;
}

.gallery_text01 {
  line-height: 27px;
}

.gallery_text02 {
  line-height: 27px;
}

/*footer*/

footer {
  background-color: #3A3D2B;
  text-align: center;
  color: #fff;
  padding: 30px 50px 10px 50px;
}

body footer {
  background-color: #3A3D2B;
  color: #fff;
  padding: 30px 50px 10px 50px;
  /*position: fixed;
  z-index: 100;*/
}

/* ① モーダルウィンドウ*/
.modal-main {
  /* ① モーダルウィンドウを非表示にする。*/
  display: none;
}

.modal-inner {
  /* ② モーダル背景を画面幅いっぱいに設定し、位置を固定する。 */
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #FCFEEF;
  color: #666666;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.inner-content {
  /* ③ モーダル内の要素全体の子要素を中央揃えにする。 */
  text-align: center;
  margin: 0;
  padding: 0;
  max-width: 1024px;
}

.modal-inner img {
  /* ④ モーダル画像の幅は親要素（.modal-inner）の100%に設定。 */
  margin: 0 auto;
  margin-bottom: 10px;
}

.inner-title {
  /* ⑤ タイトルは上下方向の他要素との間隔を調整。 */
  margin-top: 40px;
  margin-bottom: 32px;
  font-size: 1.8rem;
  font-weight: bold;
}

.inner-text {
  /* ⑥紹介文の文字サイズの設定・表示領域は70%で設定し、他要素との間隔調整。 */
  font-size: 1rem;
  width: 70%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  line-height: 22px;
  ;
}

.modalClose {
  /* ⑦ カーソル設定をします。（.send-button）というお問い合わせボタンで使用したクラスを反映しているので、その他のスタイルは自動的に反映される。 */
  cursor: pointer;
}

.space {
  margin-bottom: 40px;
  padding: 20px;
}

.character-author {
  text-align: center;
}

.character-penguin {
  text-align: center;
}

.character-monnu {
  text-align: center;
}

/* 食レポ写真CSS */
.food {
  width: 80%;
  margin: auto;
  margin-bottom: 25px;
  margin-left: 6%;
  padding: 5px 10px 10px 55px;
}

.pgnum {
  font-size: 1.1rem;
  display: inline-block;
  color: #fff;
  background-color: #515F4D;
  text-decoration: none;
  text-align: center;
  line-height: 44px;
  width: 44px;
  height: 44px;
  margin: 0 6px 20px;
  transition: .2s ease-in-out;
  white-space: nowrap;
  -webkit-border-radius: 50%;
  border-radius: 35%
}

.pgtext {
  font-size: 1.3rem;
  color: #666;
  transition: .2s ease-in-out;
  line-height: 44px;
  width: 40px;
  height: 40px;
  margin: 0 6px;
  white-space: nowrap;
  -webkit-border-radius: 50%;
  border-radius: 35%;
}


a:hover {
  background: #6A8F68;
  border-radius: 35%;
  /*transform: rotate(360deg);*/
}

.total {
  font-size: 1rem;
  text-align: center;
  display: flex;
}

/* イラストオンリーCSS */
.characteronly {
  width: 70%;
  padding: 50px 10px 10px 10px;
}

/* トップCSS */
.welcome {
  width: 80%;
  padding: 20px 5px 10px 10px;
}


/*.background {
  height: 600px;
  background-image: url(../images/top/back-image.png);
  background-position: center;
  background-repeat: repeat;
}*/
/* はじめにCSS */
.announce-text {
  text-align: center;
  line-height: 27px;
}

.bowing {
  width: 406px;
  height: 288px;
}

/* プロフィールCSS */
.whole {
  text-align: center;
}

.profile-text {
  margin: 1em 0px;
  line-height: 27px;
}

/* 画像保存CSS */
.attention {
  line-height: 27px;
}
