@charset "UTF-8";

body {
  background-color: #c6f0ff;
  font-family: "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro", "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO";
  font-size: 1rem;
  padding: 6px 0 0;
}

image {
  width: 50%;
  height: 50%;
  margin: 50%;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 1rem;
}

.logo-title {
  color: #fff;
  font-size: 1.2rem;
}

/*header*/
header {
  background-color: dimgray;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 0px 250px;
  /*position: fixed;
  z-index: 100;*/
  text-align: end;
}

h1 {
  color: #fff;
  font-size: 1.7rem;
}

body header img {
  width: 32px;
  height: 32px;
}

h2 {
  color: #fff;
  font-size: 1.4rem;
}

/*ギャラリーのタイトル*/
h3 {
  color: #fff;
  font-size: 1.1rem;
}

.character-intro {
  color: #fff;
  font-size: 1.2rem;
}

/*footer*/

footer {
  background-color: dimgray;
  ;
  color: #fff;
  padding: 30px 50px 10px 50px;
}

body footer {
  background-color: dimgray;
  color: #fff;
  padding: 30px 50px 10px 50px;
  /*position: fixed;
  z-index: 100;*/
}

/* ① モーダルウィンドウ*/
.modal-main {
  /* ① モーダルウィンドウを非表示にする。*/
  display: none;
}

.modal-inner {
  /* ② モーダル背景を画面幅いっぱいに設定し、位置を固定する。 */
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  color: #666666;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.inner-content {
  /* ③ モーダル内の要素全体の子要素を中央揃えにする。 */
  text-align: center;
  margin: 0;
  padding: 0;
  max-width: 1024px;
}

.modal-inner img {
  /* ④ モーダル画像の幅は親要素（.modal-inner）の100%に設定。 */
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.inner-title {
  /* ⑤ タイトルは上下方向の他要素との間隔を調整。 */
  margin-top: 40px;
  margin-bottom: 32px;
  font-size: 1.8rem;
  font-weight: bold;
}

.inner-text {
  /* ⑥紹介文の文字サイズの設定・表示領域は70%で設定し、他要素との間隔調整。 */
  font-size: 1rem;
  width: 70%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.modalClose {
  /* ⑦ カーソル設定をします。（.send-button）というお問い合わせボタンで使用したクラスを反映しているので、その他のスタイルは自動的に反映される。 */
  cursor: pointer;
}

/* 食レポ写真CSS */
.food {
  width: 80%;
  padding: 50px 10px 10px 10px;
}

/* イラストオンリーCSS */
.characteronly {
  width: 70%;
  padding: 50px 10px 10px 10px;
}
